/* This file is for your main application css. */

.jumbotron {
  background: #f0f0f0 !important;
  text-align: center;
  padding: 20px 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.jumbotron p.site-header{
  font-weight: bold;
  text-transform: uppercase;
}

.jumbotron p.site-description{
  font-style:italic;
}

#react-app .jumbotron{
  background: #eee;
}

nav{
  background: #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav ul li a{
  color: #333;
}

.col-lg-6{
  width: 50%;
  float: left;
}

.container{
  margin-top:50px;
  margin-bottom:50px;
}

.marketing{
  border-top:1px solid #b0b0b0;
}

header{
  margin-bottom:50px;
}

footer{
  border-top:1px solid #d0d0d0;
  margin-top:50px;
}

p.error{
  color: #d14;
  font-weight: bold;
  text-transform:lowercase;
}

input[type="submit"]{
  padding: 10px 30px;
  margin-top:20px;
}